<div class="container">
    <div class="reset-password-box mat-elevation-z8">
        <h2 class="title">Réinitialiser le mot de passe</h2>

        <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">

            <!-- Code de réinitialisation -->
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Code de réinitialisation</mat-label>
                <input matInput type="text" formControlName="code" placeholder="Entrez le code reçu" />
                <mat-error *ngIf="resetPasswordForm.get('code')?.hasError('required')">
                    Le code est requis.
                </mat-error>
            </mat-form-field>

            <!-- Nouveau mot de passe -->
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Nouveau mot de passe</mat-label>
                <input matInput type="password" formControlName="newPassword" placeholder="Entrez votre nouveau mot de passe" />
                <mat-error *ngIf="resetPasswordForm.get('newPassword')?.hasError('required')">
                    Le mot de passe est requis.
                </mat-error>
                <mat-error *ngIf="resetPasswordForm.get('newPassword')?.hasError('minlength')">
                    Le mot de passe doit comporter au moins 6 caractères.
                </mat-error>
            </mat-form-field>

            <!-- Bouton de soumission -->
            <button mat-raised-button color="accent" class="yellow-button" type="submit" [disabled]="resetPasswordForm.invalid">
          Réinitialiser le mot de passe
        </button>
        </form>
    </div>
</div>