<div class="container mt-4">
    <mat-card>

        <mat-card-content>
            <form [formGroup]="ApiMethodForm" (ngSubmit)="onSubmit()">
                <div formArrayName="fieldMappings" class="mb-4 mt-4">
                    <!-- <h3 class="mb-3" style="color: black;">Field Mappings</h3> -->

                    <div *ngFor="let mapping of fieldMappings.controls; let i = index" [formGroupName]="i" class="row g-2 align-items-center mb-2">
                        <div class="col-md-5">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Source</mat-label>
                                <input matInput formControlName="source" required>
                                <mat-error *ngIf="mapping.get('source')?.invalid && mapping.get('source')?.touched">
                                    La source est requise
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-5">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Cible</mat-label>
                                <mat-select formControlName="target">
                                    <mat-option *ngFor="let field of getAvailableTargets(i)" [value]="field">
                                        {{ field }}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="mapping.get('target')?.invalid">
                                    Sélection requise
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-2">
                            <button type="button" mat-mini-fab color="warn" (click)="removeFieldMapping(i)">
                  <mat-icon>delete</mat-icon>
                </button>
                        </div>
                    </div>

                    <button type="button" mat-stroked-button style="color: rgb(15, 15, 73);" (click)="addFieldMapping()" class="mt-2">
              <mat-icon>add</mat-icon> Ajouter un Mapping
            </button>
                </div>

                <div class="d-flex justify-content-end mt-4">
                    <button type="button" mat-stroked-button class="me-2">
              Annuler
            </button>
                    <button type="submit" mat-raised-button color="accent" [disabled]="ApiMethodForm.invalid">
              Valider
            </button>
                </div>
            </form>

            <div *ngIf="successMessage" class="alert alert-success mt-3">{{ successMessage }}</div>
            <div *ngIf="errorMessage" class="alert alert-danger mt-3">{{ errorMessage }}</div>
        </mat-card-content>
    </mat-card>
</div>