<mat-horizontal-stepper [linear]="true" #stepper class="custom-stepper">

    <!-- STEP 1 : Infos Tiers -->
    <mat-step [stepControl]="tiersInfoForm">
        <form [formGroup]="tiersInfoForm">
            <ng-template matStepLabel>Informations du Tiers</ng-template>
            <div class="step-content">
                <p class="step-description">Veuillez renseigner les informations de contact du tiers.</p>
                <div class="form-row">
                    <mat-form-field appearance="outline" class="half-width">
                        <mat-label>Nom du Tiers</mat-label>
                        <input matInput formControlName="nom" required>
                        <mat-icon matSuffix>business</mat-icon>
                        <mat-error *ngIf="tiersInfoForm.get('nom')?.invalid">Nom obligatoire</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="half-width">
                        <mat-label>Email du Tiers</mat-label>
                        <input matInput formControlName="email" required type="email">
                        <mat-icon matSuffix>email</mat-icon>
                        <mat-error *ngIf="tiersInfoForm.get('email')?.invalid">Email invalide</mat-error>
                    </mat-form-field>
                </div>
                <div class="form-row">
                    <mat-form-field appearance="outline" class="half-width">
                        <mat-label>Téléphone du Tiers</mat-label>
                        <input matInput formControlName="numero" required>
                        <mat-icon matSuffix>phone</mat-icon>
                        <mat-error *ngIf="tiersInfoForm.get('numero')?.invalid">Numéro de téléphone obligatoire</mat-error>
                    </mat-form-field>
                </div>

                <div class="step-actions">
                    <button mat-raised-button color="accent" matStepperNext [disabled]="tiersInfoForm.invalid">
                        Suivant <mat-icon>arrow_forward</mat-icon>
                    </button>
                    <button mat-raised-button color="accent" (click)="onSubmittiers()" [disabled]="tiersInfoForm.invalid">
                        <mat-icon>save</mat-icon> Enregistrer
                    </button>

                </div>
            </div>
        </form>
    </mat-step>


    <!-- STEP 2 : Configuration -->
    <mat-step [stepControl]="configForm">
        <form [formGroup]="configForm">
            <ng-template matStepLabel>Configuration</ng-template>

            <div class="step-content">
                <p class="step-description">Configurez les paramètres de l'API du tiers.</p>

                <div class="form-row">
                    <mat-form-field appearance="outline" class="half-width">
                        <mat-label>Nom de la Configuration</mat-label>
                        <input matInput formControlName="configName" required>
                        <mat-icon matSuffix>settings</mat-icon>
                        <mat-error *ngIf="configForm.get('configName')?.invalid">Nom de configuration obligatoire</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="half-width">
                        <mat-label>URL</mat-label>
                        <input matInput formControlName="url" placeholder="https://" required>
                        <mat-icon matSuffix>link</mat-icon>
                        <mat-error *ngIf="configForm.get('url')?.invalid">URL obligatoire</mat-error>
                    </mat-form-field>
                </div>
                <div class="form-row">
                    <mat-form-field appearance="outline" class="half-width">
                        <mat-label>Headers</mat-label>
                        <input matInput formControlName="headers" placeholder="Content-Type: application/json">
                        <mat-icon matSuffix>code</mat-icon>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="half-width">
                        <mat-label>Méthode HTTP</mat-label>
                        <mat-select formControlName="httpMethod" required>
                            <mat-option value="GET">GET</mat-option>
                            <mat-option value="POST">POST</mat-option>
                            <mat-option value="PUT">PUT</mat-option>
                            <mat-option value="DELETE">DELETE</mat-option>
                        </mat-select>
                        <mat-icon matSuffix>http</mat-icon>
                        <mat-error *ngIf="configForm.get('httpMethod')?.invalid">Méthode HTTP obligatoire</mat-error>
                    </mat-form-field>
                </div>
                <div class="form-row">
                    <mat-form-field appearance="outline" class="half-width">
                        <mat-label>Endpoint</mat-label>
                        <input matInput formControlName="endpoint" placeholder="/api/v1/products" required>
                        <mat-icon matSuffix>send</mat-icon>
                        <mat-error *ngIf="configForm.get('endpoint')?.invalid">Endpoint obligatoire</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="half-width">
                        <mat-label>Method Headers</mat-label>
                        <input matInput formControlName="methodHeaders">
                        <mat-icon matSuffix>settings_ethernet</mat-icon>
                    </mat-form-field>
                </div>

                <div class="form-row align-center" *ngIf="configForm.get('httpMethod')?.value === 'GET'">
                    <mat-form-field appearance="outline" class="half-width">
                        <mat-label>Type Mapping</mat-label>
                        <mat-select formControlName="type" required>
                            <mat-option value="jsonPath">jsonPath</mat-option>
                            <mat-option value="reflection">reflection</mat-option>
                        </mat-select>
                        <mat-icon matSuffix>transform</mat-icon>
                        <mat-error *ngIf="configForm.get('type')?.invalid">Type mapping obligatoire</mat-error>
                    </mat-form-field>

                    <button mat-icon-button class="help-button" (click)="openHelpDialog()" matTooltip="Aide sur les types de mapping">
                        <mat-icon>help_outline</mat-icon>
                    </button>
                </div>
                <button mat-raised-button color="accent" (click)="testApiFromForm()" type="button" *ngIf="configForm.get('httpMethod')?.value === 'GET'">
                    Tester l'URL
                  </button>

                <mat-card *ngIf="parsedJson" class="response-card">

                    <mat-card-content>
                        <div *ngIf="parsedJson && !error">
                            <!-- <h4>Cliquez sur un élément pour voir son JSONPath :</h4> -->
                            <div class="json-tree">
                                <ng-container *ngTemplateOutlet="jsonTreeTemplate; context: {node: parsedJson, path: '$', isRoot: true}"></ng-container>
                            </div>


                        </div>
                        <div *ngIf="error" class="error">{{ error }}</div>

                    </mat-card-content>

                </mat-card>

                <div *ngIf="selectedPath && (configForm.get('type')?.value == 'jsonPath')" class="selected-path" style="color: black;">
                    <strong>Chemin sélectionné :</strong> {{ selectedPath }}
                    <br>
                </div>

                <div class="form-row pagination-section" *ngIf="configForm.get('httpMethod')?.value === 'GET'">
                    <mat-checkbox formControlName="paginated" color="accent">Pagination activée</mat-checkbox>
                    <span class="hint-text">Activez cette option si l'API utilise la pagination</span>
                </div>

                <div *ngIf="configForm.get('paginated')?.value" class="pagination-config">
                    <div class="form-row">
                        <mat-form-field appearance="outline" class="half-width">
                            <mat-label>Pagination Param Name</mat-label>
                            <input matInput formControlName="paginationParamName" placeholder="page" required>
                            <mat-icon matSuffix>pages</mat-icon>
                            <mat-error *ngIf="configForm.get('paginationParamName')?.invalid">le champ est obligatoire</mat-error>

                        </mat-form-field>

                        <mat-form-field appearance="outline" class="half-width">
                            <mat-label>Total Pages Field In Response</mat-label>
                            <input matInput formControlName="totalPagesFieldInResponse" [placeholder]="configForm.get('type')?.value === 'reflection' ? 'totalpages' : '$.totalpages'" required>
                            <mat-icon matSuffix>all_inclusive</mat-icon>
                            <mat-error *ngIf="configForm.get('totalPagesFieldInResponse')?.invalid">le champ est obligatoire</mat-error>

                        </mat-form-field>
                    </div>
                </div>

                <!-- Dernière ligne -->
                <div class="form-row" *ngIf="configForm.get('httpMethod')?.value === 'GET'">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Content Field In Response</mat-label>
                        <input matInput formControlName="contentFieldInResponse" [placeholder]="configForm.get('type')?.value === 'reflection' ? 'content' : '$.content[*]'">
                        <mat-icon matSuffix>data_object</mat-icon>
                    </mat-form-field>
                </div>
                <div *ngIf="configForm.get('httpMethod')?.value === 'POST'" formArrayName="payloadTemplates">
                    <h4 class="mt-4">Template du corps de la requête (POST)</h4>

                    <div *ngFor="let template of payloadTemplates.controls; let i = index" [formGroupName]="i" class="mb-4 p-3 border rounded">
                        <!-- <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Path Param (optionnel)</mat-label>
                            <input matInput formControlName="pathParam" placeholder="RequestBody">
                        </mat-form-field> -->

                        <!-- <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Template JSON</mat-label>
                            <textarea matInput formControlName="template" rows="6" placeholder='{"key": "value"}' required></textarea>
                            <mat-error *ngIf="configForm.get('template')?.invalid">le champ est obligatoire</mat-error>
                        </mat-form-field> -->
                        <div class="row p-4 gap-4">
                            <!-- Liste des variables -->
                            <div class="col-md-4">
                                <mat-card class="p-4 shadow-sm rounded-3">
                                    <mat-card-title class=" mb-3 text-center" style="color: #0f033e;">Variables disponibles</mat-card-title>
                                    <mat-card-content>

                                        <div *ngFor="let variable of variables" draggable="true" (dragstart)="onDragStart($event, variable, true)" class="p-2 my-2  rounded border text-dark text-center cursor-pointer hover-shadow draggable-item
                                        " style="background-color: rgb(249, 249, 146);">
                                            {{ variable }}
                                        </div>

                                        <div *ngFor="let block of blocks" draggable="true" (dragstart)="onDragStart($event, block)" class="p-2 my-2  rounded border text-dark text-center cursor-pointer hover-shadow draggable-item" style="background-color: rgb(197, 231, 240);">
                                            {{ block }}
                                        </div>

                                    </mat-card-content>
                                </mat-card>
                            </div>

                            <!-- Textarea pour construire le template -->
                            <div class="col-md-7">
                                <mat-card class="p-4 shadow-sm rounded-3">
                                    <mat-card-title class="mb-3 text-center" style="color: #0f033e;">Payload Template</mat-card-title>
                                    <mat-card-content>

                                        <mat-form-field class="w-100" appearance="outline">
                                            <textarea matInput (drop)="onDrop($event)" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)" [(ngModel)]="templateText" formControlName="template" rows="15" placeholder="Glissez-déposez les variables et blocs ici pour construire votre template, ou écrivez directement."
                                                class="text-dark bg-light" [ngClass]="{'drop-zone': !isDragOver, 'drag-over drop-zone': isDragOver}">
                                            </textarea>
                                        </mat-form-field>

                                        <div class="text-end mt-3">
                                            <button mat-raised-button color="accent" (click)="validateTemplate()" type="button">
                                              Valider
                                            </button>
                                        </div>

                                        <div *ngIf="validationMessage" class="alert mt-3" [ngClass]="{
                                            'alert-success': isValid,
                                            'alert-danger': !isValid
                                          }">
                                            {{ validationMessage }}
                                        </div>

                                    </mat-card-content>
                                </mat-card>
                            </div>


                        </div>


                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Payload schema</mat-label>
                            <textarea matInput formControlName="payloadSchema" rows="6" placeholder='{"key": "value"}' required></textarea>
                            <mat-error *ngIf="configForm.get('payloadSchema')?.invalid">le champ est obligatoire</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>succesRespone</mat-label>
                            <textarea matInput formControlName="succesRespone" rows="2" required></textarea>
                            <mat-error *ngIf="configForm.get('succesRespone')?.invalid">le champ est obligatoire</mat-error>
                        </mat-form-field>

                    </div>
                </div>

                <!-- Boutons navigation -->
                <div class="step-actions">
                    <button mat-stroked-button color="accent" matStepperPrevious *ngIf="configForm.get('httpMethod')?.value === 'POST'">
                        <mat-icon>arrow_back</mat-icon> Retour
                    </button>
                    <button mat-raised-button color="accent" matStepperNext *ngIf="configForm.get('httpMethod')?.value === 'GET'">
                        Suivant <mat-icon>arrow_forward</mat-icon>
                    </button>
                    <button mat-raised-button color="accent" (click)="onSubmit1()" *ngIf="configForm.get('httpMethod')?.value === 'POST'">
                        <mat-icon>save</mat-icon> Enregistrer
                    </button>

                </div>
            </div>
        </form>
        <form [formGroup]="fieldMappingsForm" *ngIf="configForm.get('httpMethod')?.value === 'GET'">
            <ng-template matStepLabel>Field Mappings</ng-template>

            <div class="step-content">
                <p class="step-description">Définissez comment les champs de l'API sont mappés vers votre système.</p>

                <div class="field-mappings-section" formArrayName="fieldMappings">
                    <div class="mapping-header">
                        <div class="half-width">Source (API)</div>
                        <div class="half-width">Target (Système)</div>
                        <div class="action-width"></div>
                    </div>

                    <!-- Itération sur les mappings -->
                    <div *ngFor="let mapping of fieldMappings.controls; let i = index" [formGroupName]="i" class="mapping-row">
                        <div class="form-row mapping-fields">
                            <mat-form-field appearance="outline" class="half-width">
                                <mat-label>Source</mat-label>
                                <input matInput formControlName="source" required [placeholder]="configForm.get('type')?.value === 'reflection' ? 'name' : '$.name'">
                                <mat-error *ngIf="mapping.get('source')?.invalid">Source obligatoire</mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="half-width">
                                <mat-label>Target</mat-label>
                                <mat-select formControlName="target" required>
                                    <mat-option *ngFor="let target of getAvailableTargets(i)" [value]="target">
                                        {{ target }}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="mapping.get('target')?.invalid">Target obligatoire</mat-error>
                            </mat-form-field>

                            <button type="button" mat-mini-fab color="warn" (click)="removeFieldMapping(i)" aria-label="Supprimer" [disabled]="i === 0">
                                <mat-icon>delete_forever</mat-icon>
                            </button>
                        </div>
                    </div>

                </div>

                <!-- Bouton ajouter un mapping -->
                <div class="add-mapping-section">
                    <button mat-raised-button color="accent" type="button" (click)="addFieldMapping()">
                        <mat-icon>add_circle_outline</mat-icon>
                        Ajouter un Mapping
                    </button>
                </div>

                <!-- Navigation Buttons -->
                <div class="step-actions">
                    <button type="button" mat-stroked-button class="me-3" (click)="onTestClick()" color="accent">
                            <mat-icon>play_arrow</mat-icon> tester
                        </button>
                    <button mat-stroked-button color="accent" matStepperPrevious>
                        <mat-icon>arrow_back</mat-icon> Retour
                    </button>

                    <button mat-raised-button color="accent" (click)="onSubmit()" [disabled]="fieldMappingsForm.invalid">
                        <mat-icon>save</mat-icon> Enregistrer
                    </button>
                </div>
            </div>
        </form>
    </mat-step>
</mat-horizontal-stepper>
<ng-template #jsonTreeTemplate let-node="node" let-path="path" let-isRoot="isRoot">
    <div class="tree-item" [class.root]="isRoot">
        <div *ngIf="isObject(node)" class="object-node">
            <div class="node-toggle" [class.expanded]="isExpanded(path)" (click)="toggleExpand(path); $event.stopPropagation();">
                {{ isExpanded(path) ? '▼' : '►' }}
            </div>
            <span class="object-symbol" (click)="selectPath(path)">
      {{ isArray(node) ? '['+node.length+']' : '{ }' }}
    </span>
            <div class="object-content" *ngIf="isExpanded(path)">
                <div *ngFor="let key of getObjectKeys(node); let i = index" class="object-property">
                    <div class="property-line">
                        <span class="property-key" (click)="selectPath(getChildPath(path, key))">
            {{ isArray(node) ? i : key }}:
          </span>
                        <ng-container *ngIf="isObject(node[key])">
                            <ng-container *ngTemplateOutlet="jsonTreeTemplate; context: {node: node[key], path: getChildPath(path, key), isRoot: false}">
                            </ng-container>
                        </ng-container>
                        <span *ngIf="!isObject(node[key])" class="property-value" (click)="selectPath(getChildPath(path, key))">
            {{ formatValue(node[key]) }}
          </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>