<mat-card class="form-container">
    <mat-card-title class="title">Modifier la Méthode</mat-card-title>

    <mat-card-content>
        <form [formGroup]="configForm">
            <div class="form-row">
                <mat-form-field appearance="outline">
                    <mat-label>Méthode HTTP</mat-label>
                    <input matInput formControlName="httpMethod" placeholder="Ex: GET, POST, PUT" required>
                    <mat-error *ngIf="configForm.get('httpMethod')?.hasError('required')">
                        Ce champ est obligatoire.
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Endpoint</mat-label>
                    <input matInput formControlName="endpoint" placeholder="Ex: /api/v1/users" required>
                    <mat-error *ngIf="configForm.get('endpoint')?.hasError('required')">
                        Ce champ est obligatoire.
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="form-row">
                <mat-form-field appearance="outline">
                    <mat-label>Headers</mat-label>
                    <input matInput formControlName="methodHeaders" placeholder="Ex: Authorization, Content-Type">
                </mat-form-field>

                <mat-form-field appearance="outline" *ngIf="configForm.get('httpmethod')?.value=== 'GET'">
                    <mat-label>Type</mat-label>
                    <input matInput formControlName="type">
                </mat-form-field>
            </div>

            <div class="checkbox-container" *ngIf="configForm.get('httpMethod')?.value === 'GET'">
                <mat-checkbox formControlName="paginated" color="primary">
                    Activer la pagination
                </mat-checkbox>
            </div>

            <ng-container *ngIf="configForm.get('httpMethod')?.value === 'GET' && configForm.get('paginated')?.value">
                <div class="pagination-section">
                    <h4 class="subsection-title">Paramètres de pagination</h4>

                    <div class="form-row">
                        <mat-form-field appearance="outline">
                            <mat-label>Paramètre de page</mat-label>
                            <input matInput formControlName="paginationParamName" placeholder="Par défaut: page" required>
                            <mat-error *ngIf="configForm.get('paginationParamName')?.hasError('required')">
                                Le champ est requis
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Champ 'Total Pages'</mat-label>
                            <input matInput formControlName="totalPagesFieldInResponse" placeholder="Ex: totalPages" required>
                            <mat-error *ngIf="configForm.get('totalPagesFieldInResponse')?.hasError('required')">
                                Le champ est requis
                            </mat-error>
                        </mat-form-field>

                    </div>
                </div>
            </ng-container>

            <mat-form-field appearance="outline" *ngIf="configForm.get('httpmethod')?.value=== 'GET'">
                <mat-label>Champ de contenu</mat-label>
                <input matInput formControlName="contentFieldInResponse" placeholder="Ex: data">
            </mat-form-field>

            <div class="buttons">
                <button mat-stroked-button color="warn" (click)="onCancel()">
                    <mat-icon>close</mat-icon> Annuler
                </button>
                <button mat-raised-button color="accent" type="submit" [disabled]="!configForm.valid" (click)="onSubmit()">
                    <mat-icon>save</mat-icon> Sauvegarder
                </button>
                <button type="button" mat-stroked-button class="me-3" (click)="onTestClick()" color="accent" [disabled]="configForm.invalid">
                    <mat-icon>play_arrow</mat-icon> tester
                </button>
            </div>
        </form>
    </mat-card-content>
</mat-card>