.btn-custom {
    background-color: #f9e800;
    color: #000;
    /* couleur du texte */
}

.btn-custom:hover {
    background-color: #f7e400;
    /* une teinte un peu plus foncée pour le survol */
    color: #000;
    /* couleur du texte */
}