.btn-custom {
    background-color: #f9e800;
    color: #000;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.btn-custom:hover {
    background-color: #f7e400;
    color: #000;
    .navbar-nav {
        text-align: center;
    }
    @media (max-width: 991px) {
        .navbar-nav {
            margin-top: 10px;
        }
        .navbar-brand img {
            height: 30px;
        }
    }
}