<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4">

    <a class="navbar-brand fw-bold text-light" href="#">
        <img src="../../assets/11.png" alt="Wined ERP" style="height: 40px;" />
    </a>
    <!-- Ajout du bouton Material pour toggle -->
    <button class="navbar-toggler" type="button" (click)="toggleSidenav()" style="color: white;">
        <mat-icon>menu</mat-icon>
    </button>

    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav">

        </ul>
    </div>
    <div>
        <button class="btn btn-custom me-2 rounded-pill" routerLink="/login" *ngIf="(currentUser$ | async) === null">
        Connexion
    </button>

    </div>
    <span class="material-icons text-light" (click)="logout()" style="cursor: pointer; font-size: 28px;" *ngIf="(currentUser$ | async) as user">
        logout
      </span>


</nav>
<router-outlet>
</router-outlet>