<mat-card class="form-container">
    <mat-card-title class="title">Modifier l'employé</mat-card-title>
    <pre>
    </pre>

    <mat-card-content>
        <form [formGroup]="employeeForm" fxLayout="column" fxLayoutGap="20px">

            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Prénom</mat-label>
                <mat-icon matPrefix>person</mat-icon>
                <input matInput formControlName="firstname" required>
                <mat-error *ngIf="employeeForm.get('firstname')?.hasError('required')">
                    Le prénom est obligatoire.
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Nom</mat-label>
                <mat-icon matPrefix>badge</mat-icon>
                <input matInput formControlName="lastname" required>
                <mat-error *ngIf="employeeForm.get('lastname')?.hasError('required')">
                    Le nom est obligatoire.
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Email</mat-label>
                <mat-icon matPrefix>email</mat-icon>
                <input matInput type="email" formControlName="email" required>
                <mat-error *ngIf="employeeForm.get('email')?.hasError('required')">
                    L'email est obligatoire.
                </mat-error>
                <mat-error *ngIf="employeeForm.get('email')?.hasError('email')">
                    L'email doit être valide.
                </mat-error>
            </mat-form-field>

            <div class="buttons">
                <button mat-button color="warn" (click)="onCancel()">Annuler</button>
                <button mat-raised-button color="accent" (click)="onSubmit()" [disabled]="!employeeForm.valid">
            <mat-icon>edit</mat-icon> Modifier
          </button>
            </div>

        </form>
    </mat-card-content>
</mat-card>