/* Styles pour le stepper */

::ng-deep .mat-stepper-horizontal {
    background-color: #f8f9fa;
    border-radius: 8px;
    margin-bottom: 24px;
}

 ::ng-deep .mat-step-header {
    padding: 12px !important;
}


/* Modification des couleurs des boutons du stepper en jaune */

 ::ng-deep .mat-step-header .mat-step-icon {
    background-color: #faea03 !important;
    color: #333 !important;
}

 ::ng-deep .mat-step-header .mat-step-icon-selected {
    background-color: #faea03 !important;
    color: #333 !important;
}

 ::ng-deep .mat-step-header .mat-step-icon-state-done {
    background-color: #eae553 !important;
}

.summary-card {
    background-color: #e3e0f9;
    border-left: 4px solid #f2ea03;
}

.summary-card h4 {
    color: #333;
    margin-bottom: 12px;
    font-weight: 500;
}

.summary-card p {
    margin-bottom: 6px;
    padding-left: 12px;
    color: #333 !important;
    /* Assure que le texte est foncé */
}


/* Styles pour les sections */

.section-title {
    font-weight: 500;
    margin-top: 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 8px;
}

.subsection-title {
    font-weight: 400;
    color: #555;
}


/* Styles pour les lignes de mapping */

.mapping-row {
    border-left: 3px solid #f0f0f0;
    padding-left: 12px;
    transition: border-color 0.3s;
}

.mapping-row:hover {
    border-left-color: #faea03;
}


/* Assurer la lisibilité du texte dans l'étape de finalisation */

.mat-card-content {
    color: #333 !important;
}

.summary-card strong {
    font-weight: 600;
    color: #000;
}