<h2 mat-dialog-title>Modifier Tiers</h2>

<form [formGroup]="tiersForm" (ngSubmit)="onSubmit()">
    <mat-card>
        <mat-form-field appearance="fill">
            <mat-label>Nom</mat-label>
            <input matInput formControlName="nom" placeholder="Nom" required>
            <!-- <mat-error *ngIf="tiersForm.get('nom').hasError('required')">Le nom est requis.</mat-error> -->
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" placeholder="Email" required>
            <!-- <mat-error *ngIf="tiersForm.get('email').hasError('required')">L'email est requis.</mat-error> -->
            <!-- <mat-error *ngIf="tiersForm.get('email').hasError('email')">Entrez un email valide.</mat-error> -->
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Numéro</mat-label>
            <input matInput formControlName="numero" placeholder="Numéro" required>
            <!-- <mat-error *ngIf="tiersForm.get('numero').hasError('required')">Le numéro est requis.</mat-error> -->
        </mat-form-field>

        <div mat-dialog-actions>
            <button mat-button (click)="onCancel()">Annuler</button>
            <button mat-button type="submit" [disabled]="!tiersForm.valid">Sauvegarder</button>
        </div>
    </mat-card>
</form>