<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow-lg rounded-4 p-4" style="max-width: 500px; width: 100%; border: none; height: auto;">
        <h2 class="text-center text-yellow-400 font-bold text-3xl mb-4">Inscription</h2>
        <h4 class="text-center mb-4">Veuillez entrer vos informations.</h4>
        <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
            <!-- First Name -->
            <div class="form-outline mb-4">
                <input id="firstname" class="form-control form-control-lg" formControlName="firstname" placeholder="Votre prénom" />
                <label class="form-label" for="firstname">Prénom</label>
                <div class="text-danger" *ngIf="registerForm.controls['firstname'].invalid && (registerForm.controls['firstname'].touched || submitted)">
                    <span *ngIf="registerForm.controls['firstname'].errors?.['required']">Prénom est requis.</span>
                </div>

            </div>

            <!-- Last Name -->
            <div class="form-outline mb-4">
                <input id="lastname" class="form-control form-control-lg" formControlName="lastname" placeholder="Votre nom" />
                <label class="form-label" for="lastname">Nom</label>
                <div class="text-danger" *ngIf="registerForm.controls['lastname'].invalid && (registerForm.controls['lastname'].touched || submitted)">
                    <span *ngIf="registerForm.controls['lastname'].errors?.['required']">Nom est requis.</span>
                </div>
            </div>

            <!-- Email -->
            <div class="form-outline mb-4">
                <input id="email" type="email" class="form-control form-control-lg" formControlName="email" placeholder="Votre email" />
                <label class="form-label" for="email">Email</label>
                <div class="text-danger" *ngIf="registerForm.controls['email'].invalid && (registerForm.controls['email'].touched || submitted)">
                    <span *ngIf="registerForm.controls['email'].errors?.['required']">Email est requis.</span>
                    <span *ngIf="registerForm.controls['email'].errors?.['email']">Format invalide.</span>
                </div>

            </div>

            <!-- Password -->
            <div class="form-outline mb-4">
                <input id="password" type="password" class="form-control form-control-lg" formControlName="password" placeholder="Votre mot de passe" />
                <label class="form-label" for="password">Mot de passe</label>
                <div class="text-danger" *ngIf="registerForm.controls['password'].invalid && (registerForm.controls['password'].touched || submitted)">
                    <span *ngIf="registerForm.controls['password'].errors?.['required']">Mot de passe est requis.</span>
                    <span *ngIf="registerForm.controls['password'].errors?.['minlength']">Le mot de passe doit contenir au moins 6 caractères.</span>
                </div>

            </div>

            <!-- Submit Button -->
            <div class="text-center text-lg-start mt-4 pt-2">
                <button type="submit" class="btn btn-warning text-blue-700 btn-lg w-100" [disabled]="registerForm.invalid">S'inscrire</button> </div>
        </form>
    </div>
</div>