<section class="vh-100 bg-image" style="background-image:url('../../assets/22.jpg');">
    <div class="d-flex align-items-center justify-content-start h-100 p-5">
        <div class="text-light me-5">
            <!-- <h1 class="fw-bold" style="color: black;">Bienvenue sur <span class="text-warning" style="color: yellow;">Wind ERP</span></h1> -->
            <h1 class="fw-bold" style="color: rgb(13, 1, 46);"> Optimisez la gestion de <br> votre <span class="text-warning" style="color: yellow;"> stock</span> avec efficacité
            </h1>

            <button class="btn btn-warning text-blue-700 rounded-pill btn-lg">Commencer</button>
            <!-- Agrandir le bouton -->
        </div>
    </div>
</section>